<%- include('includes/registered-user-header'); -%>



    <main id="col-main">
      <div class="dashboard-container">

            <ul class="nav nav-tabs dashboard-sub-menu" role="tablist" id="tabList">
                <li role="presentation" class="active current"><a href="#account_settings" aria-controls="home" role="tab" data-toggle="tab">Account Settings</a></li>
                <li role="presentation" class="change_password"><a href="#change_password" aria-controls="profile" role="tab" data-toggle="tab">Change Password</a></li>
            </ul><!-- close .dashboard-sub-menu -->
            <div class="tab-content container-fluid">
                <div role="tabpanel" class="row tab-pane active" id="account_settings">
                <div class="row">
                    <div class="col-12  col-lg-3">
                        <div id="account-edit-photo">
                            <div><img src="<%= profilePicture !== '' ? profilePicture : 'images/user-icon.png' %>" alt="Account Image"></div>
                            <form id="update_profile_picture" action="/update-profile-picture" method="post" enctype="multipart/form-data">
                                <input style="display: none;" id="file_update_profile_picture" type="file" name="profilePicture" class="form-control">
                                <div class="row">
                                    <a  class="btn btn-info" style="padding: 11px ; width: 100px; background: #36eaeb; border: 0; border-radius: 2px; font-size: 17px; color: #fff;" id="btn_update_profile_picture"><span class="icon-Pencil"> <span style="font-family:open sans;">Edit</span></span></a>
                                    <a href="/delete-photo" style="padding: 11px; width: 100px; background: red; border: 0; border-radius: 2px; font-size: 17px; color: #fff;" class="btn btn-danger"><span class="icon-Bucket"> <span style="font-family:open sans;">Delete</span></span></a>
                                </div>
                            </form>
                        </div>
                    </div><!-- close .col -->
                    <div class="col-12 col-lg-9">
                        <form id="update_profile" class="account-settings-form" method="post" action="/update-profile">
                            <%- messages() %>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="first_name" class="col-form-label">First Name:</label>
                                        <input type="text" class="form-control" id="first_name" name="first_name" value="<%= firstName%>">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="last_name" class="col-form-label">Last Name:</label>
                                        <input type="text" class="form-control" id="last_name" name="last_name" value="<%= lastName%>">
                                    </div>
                                </div><!-- close .col -->
                            </div><!-- close .row -->
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label">Email Address</label>
                                        <input type="email" class="form-control" id="email" disabled name="email" value="<%=email %>">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">

                                </div><!-- close .col -->

                            </div>
                            <div style="display: none" class="errorMsg alert alert-danger" role="alert">
                                <span class="fa fa-warning" aria-hidden="true"></span>
                                <span class="err" > </span>
                            </div>
                            <hr>
                            <p><button type="button" class="btn btn-green-pro" onclick="onSubmitForm()">Update Profile</button></p>
                            <br>
                        </form>

                    </div><!-- close .col -->
                </div>

                </div><!-- close .row -->
                <div role="tabpanel" class="row tab-pane" id="change_password">

                    <div class="col">

                        <form id="change_password" class="account-settings-form" action="/change-password" method="post">

                            <%- messages() %>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Password:</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="**********" value="">
                                    </div>
                                </div><!-- close .col -->
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="new_password" class="col-form-label">New Password:</label>
                                        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="**********" value="">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="confirm_password" class="col-form-label">Confirm Password:</label>
                                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="**********" value="">
                                    </div>
                                </div><!-- close .col -->
                            </div><!-- close .row -->
                            <div style="display: none" class="errorMsg alert alert-danger" role="alert">
                                <span class="fa fa-warning" aria-hidden="true"></span>
                                <span class="err" > </span>
                            </div>
                            <hr>
                            <p><button type="button" class="btn btn-green-pro" onclick="onChangePasswordSubmitForm()">Submit</button></p>
                            <br>
                        </form>

                    </div><!-- close .col -->

                </div><!-- close .row -->
            </div><!-- close .container-fluid -->

        </div><!-- close .dashboard-container -->
    </main>


</div><!-- close #sidebar-bg-->

<%- include('includes/registered-user-footer'); -%>
<script>

    function onSubmitForm(){
        event.preventDefault();
        $('.errorMsg').hide();

        /*------<Get Form Values>-----*/
        let email = $('#update-profile input[name=email]').val();
        let firstName = $('#update-profile input[name=first_name]').val();
        let lastName = $('#update-profile input[name=last_name]').val();
        let error_flag = false;
        console.log('email ', email);
        /*---------------------<FORM VALIDATIONS START>---------------------*/

        let email_regex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
        if (firstName === "") {
            $('.errorMsg .err').text('Please enter your valid first name');
            $('.errorMsg').show();
            error_flag = true;
        } else if (lastName === "") {
            $('.errorMsg .err').text('Please enter your valid last name');
            $('.errorMsg').show();
            error_flag = true;
        } else if (!email_regex.test(email)) {
            $('.errorMsg .err').text('Please enter a valid email address.');
            $('.errorMsg').show();
            error_flag = true;
        }
        /*---------------------<FORM VALIDATIONS END>---------------------*/
        /*------<Submit Form>-----*/
        else if(error_flag === false) {
            $("#update-profile").submit();

        }
    }
    $(document).ready(function() {
        const profile = $('#file_update_profile_picture');
        $("#btn_update_profile_picture").click(() =>{
                $("input").trigger("click");
        });
        $(profile).change(() => {
            $("div#messages").hide();
            let file = $(profile).val();
            let extentions = ['jpg', 'jpeg', 'gif', 'png'];
            let count = 0;
            // first check if file field has any value
            if ( file ) {
                // split file name at dot
                let get_ext = file.split('.');
                // reverse name to check extension
                get_ext = get_ext.reverse();
                // check file type is valid as given in 'extentions' array
                if ( $.inArray ( get_ext[0].toLowerCase(), extentions ) > -1 ){
                    count++;
                    console.log('success '+ count);
                    $('.errorMsg').hide();
                    $("#update_profile_picture").submit();
                } else {
                    count++;
                    console.log('failed '+ count);
                    $('.errorMsg .err').text('Only images of type [jpeg, jpg, gif , png] allowed.');
                    $('.errorMsg').show();
                }
            }
        });
        $('a[href="#change_password"]').click(() => {
            $(".active").removeClass("current");
            $('.change_password').addClass("current");
        });
        $('a[href="#account_settings"]').click(() => {
            $(".active").removeClass("current").addClass("current");
            $('.change_password').removeClass("current");
        });

        // (function($) {
        //     $.fn.checkFileType = function(options) {
        //         let defaults = {
        //             allowedExtensions: [],
        //             success: function() {},
        //             error: function() {}
        //         };
        //         options = $.extend(defaults, options);
        //
        //         return this.each(function() {
        //
        //             $(this).on('change', function() {
        //                 let value = $(this).val(),
        //                     file = value.toLowerCase(),
        //                     extension = file.substring(file.lastIndexOf('.') + 1);
        //
        //                 if ($.inArray(extension, options.allowedExtensions) === -1) {
        //                     options.error();
        //                     $(this).focus();
        //                 } else {
        //                     options.success();
        //
        //                 }
        //
        //             });
        //
        //         });
        //     };
        //
        // })(jQuery);
        //
        // $(function() {
        //     let count = 0;
        //     $('#update_profile_picture').checkFileType({
        //         allowedExtensions: ['jpg', 'jpeg', 'gif', 'png'],
        //         success: function() {
        //             count++;
        //             console.log('success '+ count);
        //             $('.errorMsg').hide();
        //             $("#update_profile_picture").submit();
        //         },
        //         error: function() {
        //             count++;
        //             console.log('failed '+ count);
        //             $('.errorMsg .err').text('Only images of type [jpeg, jpg, gif , png] allowed.');
        //             $('.errorMsg').show();
        //         }
        //     });
        //
        });


    function onChangePasswordSubmitForm(){
        event.preventDefault();
        $('.errorMsg').hide();

        /*------<Get Form Values>-----*/
        let password = $('#password').val();
        let newPassword = $('#new_password').val();
        let confirmPassword = $('#confirm_password').val();
        let error_flag = false;
        console.log('password ', password);
        console.log('newPassword ', newPassword);
        console.log('confirmPassword ', confirmPassword);
        /*---------------------<FORM VALIDATIONS START>---------------------*/

        let password_regex = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/;


        if(!password_regex.test(password)){
            $('.errorMsg .err').text('Please enter a valid password.');
            $('.errorMsg').show();
            error_flag = true;
        }
        else if (!password_regex.test(newPassword)) {
            console.log('gets in new password');
            $('.errorMsg .err').text('Please enter a valid new password.');
            $('.errorMsg').show();
            error_flag = true;
        }
        else if (newPassword !== confirmPassword || !password_regex.test(confirmPassword)) {
            console.log('gets in confirm password');
            $('.errorMsg .err').text('Passwords do not match.');
            $('.errorMsg').show();
            error_flag = true;
        }
        else if (error_flag === false) {
            console.log('submit form');
            $("#change_password").submit();
        }

        /*---------------------<FORM VALIDATIONS END>---------------------*/
        /*------<Submit Form>-----*/
    }
</script>