<%- include('includes/registered-user-header'); -%>



    <main id="col-main">

        <div class="dashboard-container">

            <ul class="dashboard-sub-menu">
                <li class="current"><a href="/profile">Account Settings</a></li>
                <li><a href="/change-password">Change Password</a></li>
            </ul><!-- close .dashboard-sub-menu -->

            <div class="container-fluid">
                <div class="row">

                    <div class="col-12  col-lg-3">
                        <div id="account-edit-photo">
                            <div><img src="images/demo/account-profile.jpg" alt="Account Image"></div>
                            <p><a href="#!" class="btn btn-green-pro">Change Profile Picture</a></p>
                            <p><a href="#!" class="btn">Delete Photo</a></p>
                        </div>
                    </div><!-- close .col -->
                    <div class="col">

                        <form class="account-settings-form">

                            <h5>General Information</h5>
                            <p class="small-paragraph-spacing">By letting us know your name, we can make our support experience much more personal.</p>
                            <%- messages() %>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="first-name" class="col-form-label">First Name:</label>
                                        <input type="text" class="form-control" id="first-name" value="<%= firstName%>">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="last-name" class="col-form-label">Last Name:</label>
                                        <input type="text" class="form-control" id="last-name" value="<%= lastName%>">
                                    </div>
                                </div><!-- close .col -->
                            </div><!-- close .row -->
                            <hr>

                            <h5>Account Information</h5>
                            <p class="small-paragraph-spacing">You can change the email address you use here.</p>

                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="e-mail" class="col-form-label">E-mail</label>
                                        <input type="text" class="form-control" id="e-mail" value="<%= email%>">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">

                                </div><!-- close .col -->

                            </div><!-- close .row -->
                            <!--<h5>Change Password</h5>-->
                            <!--<p class="small-paragraph-spacing">You can change the password you use for your account here.</p>-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm">-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="password" class="col-form-label">Current Password:</label>-->
                                        <!--<input type="text" class="form-control" id="password" value="&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;">-->
                                    <!--</div>-->
                                <!--</div>&lt;!&ndash; close .col &ndash;&gt;-->
                                <!--<div class="col-sm">-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="new-password" class="col-form-label">New Password:</label>-->
                                        <!--<input type="text" class="form-control" id="new-password" placeholder="Minimum of 6 characters">-->
                                    <!--</div>-->
                                <!--</div>&lt;!&ndash; close .col &ndash;&gt;-->
                                <!--<div class="col-sm">-->
                                    <!--<div class="form-group">-->
                                        <!--<div><label for="confirm-password" class="col-form-label">&nbsp; &nbsp;</label></div>-->
                                        <!--<input type="text" class="form-control" id="confirm-password" placeholder="Confirm New Password">-->
                                    <!--</div>-->
                                <!--</div>&lt;!&ndash; close .col &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; close .row &ndash;&gt;-->
                            <div style="display: none" class="errorMsg alert alert-danger" role="alert">
                                <span class="fa fa-warning" aria-hidden="true"></span>
                                <span class="err" > </span>
                            </div>
                            <hr>
                            <p><button type="button" class="btn btn-green-pro">Save Changes</button></p>
                            <br>
                        </form>

                    </div><!-- close .col -->

                </div><!-- close .row -->
            </div><!-- close .container-fluid -->

        </div><!-- close .dashboard-container -->
    </main>


</div><!-- close #sidebar-bg-->

<%- include('includes/registered-user-footer'); -%>
